//
//  Debug.xcconfig
//  RNFTDemo
//
//  Created by Eric McGary on 3/16/22.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

"OPEN_LOGIN_CLIENT_ID" = "YOUR_OPEN_LOGIN_CLIENT_ID"
